.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #D8D8D8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.divStyle{
    height:38.7px
}
.brStyle {
    font-family: Sans-Serif;
    font-size: 14px;
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ryStyle {
    font-family: Sans-Serif;
    font-size: 14px;
    background: -webkit-linear-gradient( red,#DAA520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ybStyle {
    font-family: Sans-Serif;
    font-size: 14px;
    background: -webkit-linear-gradient( #DAA520,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.green{
    color:green
}
.red{
    color:red
}
.navbar{
    border-radius: 0;
}
.headingStyle{
    font-size: 16px;
    font-weight: bold;
    font-family: "Times New Roman";
}
.contentStyle{
    font-size: 14px;
    font-family: Sans-Serif;
}

.margin{
    margin-left: 5%;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
}

.text {
    font-weight: normal;
    font-family: Sans-Serif;
    font-size: 14px;
}

.panelBorderRedStyle{
    border-top: 3px solid red;
}
.panelBorderYellowStyle{
    border-top: 3px solid #DAA520;
}
.panelBorderBlueStyle{
    border-top: 3px solid blue;
}
.pageHeading{
    font-size: 17px;
    font-family: "Times New Roman";
    font-weight: normal;
    color:blue;
}