.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #D8D8D8;
    margin-top: 53px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.divStyle{
    height:35px
}
.brStyle {
    font-size: 20px;
    background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ryStyle {
    font-size: 20px;
    background: -webkit-linear-gradient( red,#DAA520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ybStyle {
    font-size: 20px;
    background: -webkit-linear-gradient( #DAA520,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.green{
    color:green
}
.red{
    color:red
}
.navbar{
    border-radius: 0;
}
.headingStyle{
    font-size: 16px;
    font-weight: bold;
    font-family: "Times New Roman";
}
.contentStyle{
    font-size: 15px;
    font-weight: bold
}
.text{
    font-weight: bold
}
.margin{
    margin-left: 5%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left:10%;
    cursor: pointer;
    font-size: 14px;
    font-family: Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containerHeading {

    display: block;
    position: relative;
    padding-left: 14px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: bold;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.panel{
    margin-top: 50px;
}


/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
.headingColor{
    color: blue;
    font-size: 14px;
    font-weight: normal;
    font-family: Sans-Serif;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/*check mark style*/

/* Create a custom checkbox */
.checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmarks {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmarks {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarks:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmarks:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmarks:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.button{
    margin-left:10%;
}
.textStyle {
    text-align: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    margin-left: 650px;
    margin-top: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderStyle{
    padding:100px
}








.panel{
    margin-top: 50px;
}


.containerStyle{
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
label{
    font-weight: normal;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/*check mark style*/

/* Create a custom checkbox */
.checkmarks {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmarks {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmarks {
    background-color: #2196F3;
}

.button{
    margin-left:60%;
}

#legend ul {
    list-style: none;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}

#legend ul span {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}
.divStyle{
    height:365px
}
.item{
    height:85px
}
.prediction{
    color:	black;
    font-size: 14px;
    font-family: Sans-Serif;

}
.predictionStyle{
    color:	blue;
    font-size: 14px;
    font-weight:normal;
    font-family: Sans-Serif;
}

.btnStyle{
    background-color : green;
    color:white
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaderStyle{
    padding:100px
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
}

.containerstyle{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: Sans-Serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerstyle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmarkstyle {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerstyle:hover input ~ .checkmarkstyle {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerstyle input:checked ~ .checkmarkstyle {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkstyle:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerstyle input:checked ~ .checkmarkstyle:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerstyle .checkmarkstyle:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.panelBorderBlueStyle{
    border-top: 3px solid blue;
}
.rightStyle{
    padding-left: 600px;
}
.pageHeading{
    font-size: 17px;
    font-family: "Times New Roman";
    font-weight: normal;
    color:blue;
    margin-left: 15px;
}
.marginTop{
    margin-top: 42px;
}
.divHeight{
    height :10px;
    width:10px;
    background-color: red;
    display:inline-block;

}
.maindiv{
    display:inline-block
}

.marginRight{
    margin-right: 15px;
}
.divHeightStyle{
    height :10px;
    width:10px;
    background-color: black;
    display:inline-block;
}