<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- flot graph-->
<script type="text/javascript" src="./flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="http://static.pureexample.com/js/flot/jquery.flot.axislabels.js"></script>


<!--  bar Chart-->
<script src="./flot/jquery.flot.categories.js"></script>
<script src="http://www.benjaminbuffet.com/public/js/jquery.flot.orderBars.js"></script>
<!--  Donut Chart-->
<script src="./flot/jquery.flot.pie.js"></script>

<!-- Sparkline -->
<script src="./bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

<!-- jquery.knob -->
<script src="./bower_components/jquery-knob/js/jquery.knob.js"></script>

<script src="js/descriptive.js"></script>
<link rel="stylesheet" type="text/css" href="css/descriptive.css">

<script>
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }
</script>

<body>

<div ng-app="myApp1" ng-controller="myCtrl1">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img style="max-width:50px; margin-top: -15px;"
                         src="./Wipro-Logo2.gif">
                </a>
            </div>
            <ul class="nav navbar-nav margin">
                <li> <a href="./index.html">Energy Management(Real Time Analytics)</a></li>
                <li> <a href="./descriptive.html">Energy Management(Trend Analysis) </a></li>
                <li> <a href="./predictive.html">Predictive (R B Y Voltage) Analytics</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-6" >
            <p class="pageHeading">Energy Management(Trend Analysis)</p>
        </div>


          <!--  burger menu-->
     <div class="col-md-offset-5 col-md-1">

    <!--start- Side bar-->
    <div class="col-md-1">
        <span style="font-size:15px;cursor:pointer;margin-left:40%;" onclick="openNav()">&#9776;</span>
        <div id="mySidenav" class="sidenav ">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


            <label class="containerHeading headerMargin">
                <h4 class="headingColor">Dimensions</h4>
            </label>

            <!--radio buttons-->
            <label class="container ">Quarterly
                <input type="radio"  name="radio" ng-model="color.name" value="Quarterly">
                <span class="checkmark"></span>
            </label>
            <label class="container">Monthly
                <input type="radio" name="radio" value="Monthly" ng-model="color.name">
                <span class="checkmark"></span>
            </label>
            <label class="container">Weekly
                <input type="radio" name="radio" value="Weekly" ng-model="color.name">
                <span class="checkmark"></span>
            </label>


            <hr/>
            <label class="containerHeading">
                <h4 class="headingColor">Measures</h4>
            </label>
            <!--check boxes-->
            <div ng-repeat="check in checked">
                <label class="container "> {{check.Name}}
                    <input id="check.id" type="checkbox" ng-model="check.Selected" />
                    <span class="checkmarks"></span>
                </label>
            </div>

            <div class="button">
                <input type="button" value="Submit" ng-click="GetValue()" />
            </div>


        </div>
    </div>

</div>

    </div>

<div class="row">


    <div class="col-md-11">


        <div  class="panel panel-default panelBorderRedStyle">
            <div class="panel-heading headingStyle">{{heading.name}}</div>
            <div class="panel-body">
                <div  ng-if="loader.status">
                    <div  class="loader"></div>
                </div>
                <div  id="bar-chart" style="height: 300px;"></div>

            </div>
        </div>

    </div>



</div>
</div>


</div>
</body>




</html>
