<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- flot graph-->
<script type="text/javascript" src="./flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="./flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="http://static.pureexample.com/js/flot/jquery.flot.axislabels.js"></script>


<!--  bar Chart-->
<script src="./flot/jquery.flot.categories.js"></script>
<script src="http://www.benjaminbuffet.com/public/js/jquery.flot.orderBars.js"></script>
<!--  Donut Chart-->
<script src="./flot/jquery.flot.pie.js"></script>

<!-- Sparkline -->
<script src="./bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>

<!-- jquery.knob -->
<script src="./bower_components/jquery-knob/js/jquery.knob.js"></script>
<script src="js/predictive.js"></script>
<link rel="stylesheet" type="text/css" href="css/predictive.css">
<script>
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }
</script>

<body>

<div ng-app="myApp1" ng-controller="myCtrl1">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img style="max-width:50px; margin-top: -15px;"
                         src="./Wipro-Logo2.gif">
                </a>
            </div>
            <ul class="nav navbar-nav margin">
                <li> <a href="./index.html">Energy Management(Real Time Analytics)</a></li>
                <li> <a href="./descriptive.html">Energy Management(Trend Analysis) </a></li>
                <li> <a href="./predictive.html">Predictive (R B Y Voltage) Analytics</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div>
    </nav>


    <div class="container-fluid">



        <div class="row">
            <div class="col-md-6" >
                <p class="pageHeading">Predictive (R B Y Voltage) Analytics</p>
            </div>

            <div class="col-md-offset-5 col-md-1">

                <!--start- Side bar-->

                <span style="font-size:15px;cursor:pointer;margin-left:40%;" onclick="openNav()">&#9776;</span>
                <div id="mySidenav" class="sidenav ">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <button ng-value="item" ng-repeat="item in items"  ng-click="selected.0=item">{{item}}</button>

                    <label class="containerHeading marginTop">
                        <h4 class="headingColor">Dimensions</h4>
                    </label>
                    <div class="containerStyle">
                        <label class="containerstyle">
                            <input type="radio" ng-model="term.name" value="Predictive">
                            <span class="checkmarkstyle"></span>
                            Predictive
                        </label>
                    </div>

                    <!-- <div class="button btn-group " ng-init="style={'background-color' : 'green','color':'white'}">
                         <div>
                             <button type="button" class="btn btn-default" ng-style="style1"
                                     ng-click="style1=style; style2=null; Get('EDA')">EDA</button>
                         </div>
                       <div>
                           <button type="button" class="btn btn-default" ng-style="style2"
                                   ng-click="style2=style; style1=null ;  Get('Predictive')">PREDICTIVE</button>
                       </div>

                     </div>-->
                    <hr/>
                    <!--check boxes-->
                    <label class="containerHeading">
                        <h4 class="headingColor">Measures</h4>
                    </label>
                    <label class="container">R Voltage
                        <input type="radio"  name="radio" ng-model="measures.name" value="rVoltage">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Y Voltage
                        <input type="radio" name="radio" value="yVoltage" ng-model="measures.name">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">B Voltage
                        <input type="radio" name="radio" value="bVoltage" ng-model="measures.name">
                        <span class="checkmark"></span>
                    </label>
                    <div class="button">
                        <input type="button" value="Submit" ng-click="GetValues()" />
                    </div>
                </div>



            </div>



        </div>


        <div class="row">

            <div class="col-md-11">
                <div ng-if="term.name === 'Predictive'"   class="col-md-8">
                    <div class="panel panel-default panelBorderBlueStyle">
                        <div class="panel-heading headingStyle">{{headers.description}}</div>
                        <div class="panel-body">

                            <div ng-if="loader.value" >

                                <div  class="loader"></div>

                            </div>
                            <div ng-if="!loader.value">





                                <div class="col-md-offset-10">
                                    <button  type="button" ng-click="on()">On</button>
                                    <button   type="button" ng-click="off()">Off</button>
                                </div>

                                <div class="col-md-offset-9" id="legend"></div>

    <div class="flotcontainer1" style="height: 310px;"></div>





                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4">

                    <div ng-if="!loader.value">
                        <div ng-if="term.name === 'Predictive' && !loader.value"  class="panel panel-default panelBorderBlueStyle">
                            <div class="panel-heading headingStyle">{{prediction.feature}}</div>
                            <div   class="panel-body divStyle " >
                                <div class="col-md-12 item">
                                    <div class="col-md-6 predictionStyle "> Feature</div>
                                    <div class="col-md-6 predictionStyle">{{prediction.feature}}</div>
                                </div>
                                <div class="col-md-12 item">
                                    <div class="col-md-6 prediction">Coefficient Of Determination </div>
                                    <div class="col-md-6 prediction"> {{prediction.coefficientOfDetermination}}</div>
                                </div>
                                <div class="col-md-12 item">
                                    <div class="col-md-6 prediction">Mean Absolute Error</div>
                                    <div class="col-md-6 prediction">{{prediction.meanAbsoluteError}}</div>
                                </div>
                                <div class="col-md-12 item">
                                    <div class="col-md-6 prediction">Mean Squared Error</div>
                                    <div class="col-md-6 prediction">{{prediction.meanSquaredError}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
</body>
</html>
